<h2 class="cart-header">Shopping Cart</h2>
<% if @cart.nil? %>
  <p>Your cart is empty</p>
<% else %>
  <table class="table">
    <% @cart.each do |item| %>
    <tr>
      <td>
        <%= item.product.name.capitalize %>
        <br>
        <%= number_to_currency(item.product.price) %> x <%= item.quantity %>
      </td>
      <td>
        <td></td>
        <%= form_with url: order_item_path(item.id), method: :patch do |f| %>
            <td class="form-group">
              <%= f.label :quantity %>
              <!-- validation when you check out if someone else checks out and buys the product before you -->
              <%= f.select :quantity, options_for_select(1..20)%>
            </td>
            <td class="form-group">
              <%= f.submit "Update Item", method: :patch%>
              <%= link_to "Remove from Cart", order_item_path(item.id),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete this item from your cart?" },
                          class: "btn btn-danger" %>
            </td>
        <% end %>
    </tr>
    <% end %>
  </table>
  <p></p>
<!--  this wasn't working because @cart is the list of the order_items in the order. Current_order is the instance of Order-->
<!--  <p class="total-cart-cost">Total: <%#= number_to_currency(@cart.map{|item| item.total_price}.sum) %></p>-->
  <p class="total-cart-cost">Subtotal: <%= number_to_currency(@current_order.total_cart_cost) %></p>
  <p class="total-cart-cost">Total: <%= number_to_currency(@current_order.total_cart_cost * 1.10) %></p>
<% end %>
