<h2 class="cart-header">Shopping Cart</h2>
<% if @cart.nil? %>
  <p>Your cart is empty</p>
<% else %>
    <% @cart.order(:created_at).each do |item| %>
        <%= item.product.name.capitalize %>
        <%= number_to_currency(item.product.price) %> x <%= item.quantity %>

        <%= form_with url: order_item_path(item.id), method: :patch do |f| %>
            <div class="form-group">
              <%= f.label :quantity %>
              <!-- validation when you check out if someone else checks out and buys the product before you -->
              <%= f.select :quantity, options_for_select(1..20)%>
            </div>
            <div class="form-group">
              <%= f.submit "Update Item" %>
            </div>
            <%= link_to "Remove from Cart", order_item_path(item.id),
                        method: :delete,
                        data: { confirm: "Are you sure you want to delete this item from your cart?" },
                        class: "btn btn-danger" %>

        <% end %>

    <% end %>
  <p class="total-cart-cost">Subtotal: <%= number_to_currency(@current_order.total_cart_cost) %></p>
  <p class="total-cart-cost">Total: <%= number_to_currency(@current_order.total_cart_cost * 1.101) %></p>
  <%= link_to "Check Out", new_order_path, class: "btn btn-primary" %>
<% end %>
