
<% if @current_merchant %>
  <section>
    <h3>Order Summary</h3>
    <% if @orders.empty? %>
      <p> You have no orders.</p>
    <%else %>
      <div>
          <table class=" table table-borderless">
            <tr>
              <th>Order Number</th>
              <th>Order Item Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th>Purchase Date</th>
              <th>Fulfillment</th>
              <th>Order status</th>
            </tr>
            <% @current_merchant.order_items.each do |order_item| %>
            <tr>
              <td><strong> <%=link_to "#{order_item.order_id}", order_path(order_item.order_id) %></strong></td>
              <td><%= order_item.find_product.name %></td>
              <td><%= number_to_currency(order_item.find_product.price) %></td>
              <td><%= "x#{order_item.quantity}" %></td>
              <td><%= number_to_currency(order_item.total_price) %></td>
              <td><%= order_item.find_order.created_at.strftime("%m/%d/%y")%></td>
              <td><%= link_to "Ship" %></td>
              <td><%= order_item.find_order.status %></td>
            </tr>
            <% end %>
          </table>

      </div>
    <%end %>
  </section>
<%end %>