<center><h1>Order Summary</h1> </center>


<ul class="order-summary">
  <li> <strong>Total Order Revenue:</strong> <%= number_to_currency(@current_merchant.total_revenue) %></li>
  <li> <strong>Paid/Completed Orders:</strong> <%=@current_merchant.total_orders_by_status("paid")%></li>
  <li> <strong>Cancelled Orders:</strong> <%=@current_merchant.total_orders_by_status("cancelled")%></li>
</ul>

<!--<table class="table">-->
<!--  <tr>-->
<!--    <td></td>-->
<!--    <th scope="col"> Orders</th>-->
<!--    <th scope="col"> Total Revenue: <%#= number_to_currency(@current_merchant.total_revenue) %></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row">Pending Orders</th>-->
<!--    <td><%#@current_merchant.total_orders_by_status("pending") %></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"> Paid/Completed Orders </th>-->
<!--    <td><%#=@current_merchant.total_orders_by_status("paid")%></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row">Cancelled Orders</th>-->
<!--    <td><%#=@current_merchant.total_orders_by_status("cancelled")%></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row">Complete Orders</th>-->
<!--    <td><%#@current_merchant.total_orders_by_status("completed") %></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"> Total Order Revenue:</th>-->
<!--    <td><%#= number_to_currency(@current_merchant.total_revenue) %></td>-->
<!--  </tr>-->
<!--</table>-->


<% if @current_merchant %>
  <section>
    <h3>Order Items</h3>
    <% if @orders.empty? %>
      <p>You have no orders. 😢</p>
    <%else %>
      <div>
          <table class=" table table-borderless">
            <tr>
              <th>Order Number</th>
              <th>Order Item Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th>Purchase Date</th>
              <th>Fulfillment</th>
              <th>Order status</th>
            </tr>
            <% @current_merchant.order_items.each do |order_item| %>
            <tr>
              <td><strong> <%=link_to "#{order_item.order_id}", order_path(order_item.order_id) %></strong></td>
              <td><%= order_item.find_product.name %></td>
              <td><%= number_to_currency(order_item.find_product.price) %></td>
              <td><%= "x#{order_item.quantity}" %></td>
              <td><%= number_to_currency(order_item.total_price) %></td>
              <td><%= order_item.find_order.created_at.strftime("%m/%d/%y")%></td>
              <td><%= link_to order_item.fulfillment_status, ship_item_path(order_item), method: :patch %></td>
<!--              I need to call the complete_order? method here?-->
              <% order_item.find_order.complete_order? %>
              <td><%= order_item.find_order.status %></td>
            </tr>
            <% end %>
          </table>
      </div>
    <%end %>
  </section>
<%end %>

<br>
<%=link_to "Back to My Account", account_path, class: "btn btn-secondary" %>
<br>