<section>
  <% if @order.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <% @order.errors.each do |column, message| %>
          <li><strong><%= column %></strong> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>

<section class="new-order-form">
  <%= form_with url: paid_order_path(@order), method: :post do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :credit_card_num %>
      <%= f.text_field :credit_card_num, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :exp_date %>
      <%= f.text_field :exp_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :cvv %>
      <%= f.text_field :cvv, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :billing_zip %>
      <%= f.text_field :billing_zip, class: "form-control" %>
    </div>

    <%= f.submit "Place Order", class: "btn btn-success" %>
  <% end %>
</section>