<h2>Order Summary: <%= link_to @current_merchant.username, merchant_path(@current_merchant.id) %> </h2>


<%= if @merchant == @current_merchant %>
  <section>
    <h3>Order history</h3>
    <% if@merchant.orders.empty? %>
    <p> You have no orders.</p>
      <%else %>
      <div>
        <% @merchant.orders.each do |order| %>
        <table class=" table table-borderless">
          <tr>
            <th>Order Number<strong> <%=link_to order.id,order_path(order) %></strong></th>
            <th>Purchase Date<%=format_datetime(order.created_at)%></th>
            <th>Order status <%= order.status %></th>
          </tr>
        </table>
        <% end %>
      </div>
  </section>