<section class="merchant-show">
  <h2>Merchant Summary: <%= link_to @current_merchant.username, merchant_path(@current_merchant.id) %> </h2>
  <p>Joined site:  <%= @current_merchant.created_at.strftime("%B %d, %Y") %></p>
  <p><%= link_to "Add Category", new_category_path %> | <%= link_to "Add new product", new_product_path %> </p>
</section>

<p><%= link_to "Order Summary", merchant_orders_path(@merchant.id) %></p>

<section class="merchant-products__container">
  <h3 class="-merchant-product_header"></h3>
  <table class="table">
  <h2>Products</h2>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <% @current_merchant.products.each do |product|%>
    <%# product = Product.find_by(id: product.id) %>
      <tr>
        <td> <%= link_to product.name, product_path(product.id) %></td>
        <td> <%= number_to_currency(product.price) %></td>
        <td><%= product.inventory_stock %></td>
        <td> <%= link_to product.status.capitalize, update_product_status_path(product), method: :post %></td>
        <td> <%= link_to "Edit", edit_product_path(product.id), class: "btn btn-primary" %> </td>
<!--        <td><%# product.category %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
</section>



