<%if @merchant%>
<h2><%= @merchant.username %>'s Holiday Shop </h2>
<%end %>
<h2>Products: </h2>

<section class="row root-products">
  <!--  <h4><strong>Recently Added</strong></h4>-->
  <% @products.each do |product| %>
    <% if product.status == "active" %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag(safe_product_photo_url(product), size: "250x250", alt: "product image" )%>
        <br>
        <%= link_to product.name, product_path(product) %>
        <br>
        <p><%= number_to_currency(product.price) %></p>
      </div>
    </div>
    <% end %>
  <% end %>


</section>


<div id = "pagination" >
<!--  <button><%#= link_to 'Newest', products_path %></button>-->
  <%# if @page != 0 %>
<!--    <button><%#= link_to 'Previous', merchant_products_path(page: @page - 1) %></button>-->
  <%# end  %>

  <% if @page != 0 %>
    <% if @merchant %>
      <button><%= link_to 'Previous', merchant_products_path(page: @page - 1) %></button>
      <% else @products %>
    <button><%= link_to 'Previous', products_path(page: @page - 1) %></button>
      <% end %>
  <% end %>


  <% if @merchant %>
    <button><%= link_to "Next", merchant_products_path(page: @page + 1) %></button>
  <% else @products %>
    <button><%= link_to "Next", products_path(page: @page + 1) %></button>
<% end  %>
 </div>
