<h1><%= @product.name %></h1>
<section class="product-img">
  <%= image_tag(@product.photo_url, size: "250x250") %>
</section>
<section>
  <p>Price: <%= number_to_currency(@product.price) %></p>
  <p>Sold by: <%= link_to @product.merchant.username, merchant_products_path(@product.merchant.id) %></p>
  <p>Categories:</p>
  <ul>
    <% @product.categories.each do |category| %>
      <li>
        <%= link_to category.name, category_products_path(category) %>
      </li>
    <% end %>
  </ul>

  <% if @product.inventory_stock.nil? %>
    <p>"Coming soon!"</p>
  <% elsif @product.inventory_stock == 0 %>
    <p>"Out of stock ☹️"</p>
  <% else %>
    <section class="form-row">
      <%= form_with url: add_cart_path(@product), method: :post do |f| %>
        <div class="form-inline">
          <%= f.label :quantity %>
          <%= f.select :quantity, options_for_select(1..@product.inventory_stock),
                       {},
                       class:"form-control"%>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit "Add to Cart", class: "btn btn-success" %>
        </div>
      <% end %>
    </section>
  <% end %>
</section>
<section class="product-desc">
  <p>Description: <%= @product.description %></p>
</section>

<section class="product-reviews">
  <h4>Reviews for <%= @product.name%>:</h4>
  <h5>Average Rating: <%=number_with_precision(@product.average_rating, :precision => 1) %></h5>
  <% @product.reviews.each do |review| %>
    <p><%= review.rating %>/5</p>
    <% review.rating.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <p><%= review.description %></p>
    <p><%= review.nickname %></p>
    <p>-----------------------------</p>
  <% end %>

</section>

<section>
  <p><%= link_to 'New Review', new_product_review_path(@product, @review), :class => "btn btn-info" %></p>
</section>
