<h1><%= @product.name %></h1>
<%= image_tag("placeholder.jpg", size: "250x250") %>
<p><%= number_to_currency(@product.price) %></p>
<p>Sold by: <%= link_to @product.merchant.username, merchant_path(@product.merchant.id) %></p>
<p>Categories:</p>
<ul>
  <% @product.categories.each do |category| %>
    <li>
      <%= link_to category.name, category_products_path(category) %>
    </li>
  <% end %>
</ul>

<%= form_with scope: :post, url: add_cart_path(@product), method: :post do |f| %>
  <section>
    <div class="form-group">
      <%= f.label :quantity %>
      <!-- validation when you check out if someone else checks out and buys the product before you -->
      <%= f.select :quantity, options_for_select(1..20),
                   {},
                   class:"form-control"%>
    </div>

    <div class="form-group">
      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
    </div>
  </section>
<% end %>


