<h2 class="form-heading">Write your review</h2>
<section class="review-picture">
  <%= image_tag(@product.photo_url, size: "250x250") %>
  <h4><%= @product.name %></h4>
</section>
<section class="form-section">
  <%= form_for([@product, @product.reviews.build]) do |f| %>
    <div class="form-group">
      <%= f.label :rating %>
      <%= f.select :rating, options_for_select(1..5), class: "form-control" %>

    </div>

    <div class="form-group">
      <%= f.text_field :description, class: "form-control", placeholder: "Description" %>
    </div>

    <div class="form-group">
      <%= f.text_field :nickname, class: "form-control", placeholder: "Nickname" %>
    </div>

    <%= f.submit "Add Review", class: "btn btn-success" %>
  <% end %>
</section>