<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>HolyHolly</h1>
      <nav>
        <ul>
          <li>
            <%= link_to "Products", products_path %>
          </li>
          <li>
            <%= link_to "Merchants", merchants_path %>
          </li>
        </ul>
      </nav>

    </header>

    <section>
      <div >
        <% flash.each do |name, message| %>
          <%= message %>
        <% end %>
      </div>
    </section>
    <main>
      <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
